.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .filler {
    height: 100%;
    background-color: #66ccff;
    border-radius: inherit;
    transition: width 0.2s ease-in;
  }
  